*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    background-color: rgb(212, 115, 115);

}

main{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12,);
    grid-template-rows: auto;
    gap: 1rem;
}

.box{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}

#b1{
    grid-column: 1/3;
    grid-row: 1/3;
}

#b2{
    grid-column: 3/5;
    grid-row: 1/3;
}

#b3{
    grid-column: 5/13;
    grid-row: 1/3;

}

#b4{
    grid-column: 1/13;
    grid-row: 3/5;
}

#b5{
    grid-column: 1/6;
    grid-row: 3/5;
}

#b6{
    grid-column: 6/13;
    grid-row: 5/9;
}