* {margin: 0; padding: 0; box-sizing: border-box;}

body{
    background-color: hsl(150, 60%, 70%);
    justify-content: center;
}
main{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(4, 10rem );
    gap: 1rem;
    justify-content: center;
    align-content: center;
    background-color: red;
}

.box{
    width: 100%;
    height: 100%;
    background: linear-gradient(#000, #fff);
    box-shadow: 0 0 10px 2px #000;
}

.box:first-child{
    grid-column: 1/3;
    grid-row: 1/2;
}

.box:nth-child(2){
    grid-column: 3/4;
    grid-row: 1/4;
}

.box:nth-child(3){
    grid-column: 1/3 ;
    grid-row: 2/4 ;
}